<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Mission to Mars</title>
  </head>
  <body class = "bg-white" style= "background-image:url('https://wallpaperaccess.com/full/465923.jpg'); background-repeat:fixed;">
        <div class="container">
            <div class="jumbotron text-center bg-light ">
                <h1>Mission to Mars</h1>
                <p><a class="btn btn-primary btn-lg p-2" href="../scrape" role="button">Scrape</a></p>
              </div>

              <!-- Mars News -->
         <div class="row" id="mars-news">
           <div class="col-md-12">
             <div class="media">
               <div class="media-body text-white ">
                 <h2>Latest Mars News</h2>
                 <h4 class="media-heading text-white">{{mars.news_title}}</h4>
                 <p>{{mars.paragraph}}</p>
               </div>
             </div>
           </div>
         </div>

       <!-- Mars Featured Image -->
          <div class="row" id="mars-featured-image">
            <div class="col-md-8 text-white">
              <h2>Featured Mars Image</h2>
              <img src="{{mars.featured_image}}" class="img-responsive" alt="Responsive image">
              </div>

          <div class="col-md-4">
                <!-- Mars Facts -->
            <div class="row" id="mars-facts">
              <div class="col-md-12 text-black bg-white">
                <h4>Mars Facts</h4>
                {{mars.fact_table | safe}}
              </div>
            </div>
          </div>
        </div>
        <!-- Mars Hemispheres -->
            <div class="row" id="mars-hemispheres" style="margin-top:80px;">
              <div class="page-header">
                <h2 class="text-center text-white">Mars Hemispheres</h2>
              </div>
              {% for hemi in mars.hemisphere_images %}
                <div class="col-md-3">

                    <div class="thumbnail">
                    <img src="{{hemi.image_url}}"
                        alt="...">
                    <div class="caption text-white">
                        <h3>{{hemi.title}}</h3>
                    </div>
                    </div>
                </div>
              {% endfor %}
            </div>
          </div>

            </div>
